
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Popular Tweets for...</legend>
    <form id="frm_dummy">
        <div class="row form-group">
            <div class="col-md-5">
                <input type="submit" style="display: none;" />
                <input type="text" class="form-control" id="txt_qry" required maxlength="100" title="100 charecters or less" placeholder="type search query here" />
            </div>
            <div class="col-md-3 text-left"><button type="button" class="btn btn-primary" id="btn_search">Search</button></div>
        </div>
    </form>
    <hr />
    <div class="row">
        <div class="col-md-10" id="dv_result">
        </div>
    </div>
</fieldset>
<div class="alert alert-danger alert-dismissible fade" role="alert">
    <label id="lb_msg"></label>
</div>
<script type="text/html" id="scp_well">
    <div class="card border-primary float-left" style="width: 18rem;">
        
        <div class="card-body">
            <img class="pf_img" src="" alt="no image found"><label class="card-title text-md-left pl-1" id="lb_author_{0}"></label>
            <div class="row">
                <div class="col-sm-12 text-muted text-sm-left"><label id="lb_ts_{0}"></label></div>
            </div>
            <p id="p_tw_{0}"></p>
            <div class="row">
                <div class="col-sm-6 text-right"><label>Retweets: </label></div>
                <div class="col-sm-6 text-left"><label id="lb_tr_{0}"></label></div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right"><label>Favorates: </label></div>
                <div class="col-sm-6 text-left"><label id="lb_tf_{0}"></label></div>
            </div>
            <a target="_blank" href="#" class="text-primary" id="lnk_view_{0}"><i class="fa fa-eye"></i> View Detail</a>
        </div>
    </div>
</script>
@section scripts{
    <script>
        var searchUrl = '@Url.Action("Search", "Home")';
       
        $(function () {
            home.init();
        });
    </script>
}

